@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/* Navbar */

nav {
    background-color: #CCD5AE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
  
.navbar-left {
    display: flex;
    align-items: center;
}
  
.navbar-left a {
    margin-right: 20px;
    color: #333;
    text-decoration: none;
}
  
.navbar-left a:last-child {
    margin-right: 0;
}
  
.navbar-left img {
    height: 50px;
}
  
.navbar-right {
    display: flex;
}
  
.button {
    display: inline-block;
    background-color: #f0f0f0;
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
}
  
@media screen and (max-width: 768px) {
    .navbar-left {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar-left a {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .navbar-right {
      display: none;
    }
}
  
/* End of Navbar */
      
/* Containers*/
body{
  background-color: #E9EDC9;
}

.movie-container {
  text-align: center;
  width: auto;
  margin-bottom: 20px;
}
  
.movie-container select {
  background-color: #FEFAE0;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  padding: 5px 15px 5px 15px;
}
  
  
.container {
  perspective: 1000px;
  margin-bottom: 30px;
  width: 45%;
  margin: auto;
  text-align: center;
  background-color: #FEFAE0;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}
  
.seat {
  background-color: #1e8000;
  height: 20px;
  width: 25px;
  margin: 5px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
  
.seat.selected {
  background-color: yellow;
}
  
.seat.occupied {
  background-color: blue;
}
  
.seat:nth-of-type(3) {
    margin-right: 18px;
}
  
.seat:nth-last-of-type(3) {
    margin-left: 18px;
}
  
.seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
}
  
.showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}
  
.showcase {
  background-color: #d4d4d4;
  padding: 6px 8px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
  
.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
  
.showcase li small {
  margin-left: 10px;
}
  
.row {
  display: flex;
  margin: auto;
}
  
.screen {
  background-color: #afafaf;
  height: 60px;
  color: black;
  margin: auto;
  width: 60%;
  margin-bottom: 30px;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px #ffd5d5;
}
  
p.text {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  color: #8b8b8b;
  font-weight: bolder;
}
  
p.text span {
  color: #920000;
  font-weight: bolder;
}
  
  /* Button */
.button{
  margin: auto;
  padding-top: 15px;
}
  
.book-now {
  background-color: #8b8b8b;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
  
.link-page{
  text-decoration: none;
  color: white;
}

.book-now:hover {
  background-color: #353535;
}
  
/* Timer */

.timer-txt {
  margin-right: 60px;
  font-weight: 150;
}

#countdown {
  font-weight: bold;
  color: red;
}
